<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title> Calculadora Online </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body onkeypress="manipularTeclado()">

    <h1 class="h1-main"> CALCULATOR </h1>

    <table class="tabela-calculadora">
        <tr>
            <td colspan="6"><input type="text" class="table-button-principal" id="display" value="0" disabled></td>
        </tr>
        <tr>
            <td><input class="table-button" type="button" value="1" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="2" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="3" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="*" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input class="table-button" type="button" value="4" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="5" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="6" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="-" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input class="table-button" type="button" value="7" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="8" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="9" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="+" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input class="table-button" type="button" value="C" onclick="limparDisplay()" /></td>
            <td><input class="table-button" type="button" value="0" onclick="atualizarDisplay(this)" /></td>
            <td><input class="table-button" type="button" value="=" onclick="calcularOperacao()" /></td>
            <td><input class="table-button" type="button" value="/" onclick="atualizarOperacao(this)" /></td>
        </tr>
    </table>

    <script src="/public/js/calc_functions.js"></script>

</body>

</html>